@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  min-height: 100%;
  background: #0f172a;
  overflow-x: hidden;
  height: 100%;
  color: #333;
  font-family: "Inter", sans-serif;
  font-size: 16px;
}

