nav{
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul{
  display: flex;
  gap: 50px;
  list-style-type: none;
}

a{
  text-decoration: none;
  color: black;
  position: relative;
}

a::after{
  background-color: blue;
  content: "";
  width: 0px;
  height: 3px;
  left: 0;
  bottom: -1px;
  transition: width 0.35s ease 0s;
  position: absolute;
}

a:hover::after{
  width: 100%;
}